<div>
  <form name="designationForm" #designationForm="ngForm">
    <div>
      <select [(ngModel)]="selectedDesignation" id="designation" name="designation" ngModel (change)="onChangeDesignation()">
        <option *ngFor="let designation of designationsEvaled" [ngValue]="designation">
          {{ designation.designationName }}
        </option>
      </select>
    </div>
    <br>
    <br>
    <br>
    <table border="1">
      <thead>
        <th>Coil No </th>
        <th>Mass ({{selectedDesignation.mass.param1}} - {{selectedDesignation.mass.param2}})</th>
        <th>Straing >={{selectedDesignation.straigh.param1}}</th>
        <th>genaral (PASS)</th>
        <th>Cross section Area (Sn) ({{selectedDesignation.cross.param1}} - - {{selectedDesignation.cross.param2}})</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>
            <input [(ngModel)]="product.coilNo" placeholder="Coil No" 
            type="number" id="coilNo{{i}}" name="coilNo{{i}}" 
            #coilNo{{i}}="ngModel" required 
            >
          </td>
          <td>
            <input [(ngModel)]="product.mass" placeholder="Mass" 
              [ngClass]="{'invalid':!product.validate.mass } "
              (blur)="exec(selectedDesignation.mass,product,'mass')" 
              type="number"  name="{{i}}mass" required>
          </td>
          <td>
            <input [(ngModel)]="product.straigh"
              [ngClass]="{'invalid':!product.validate.straigh } "
              placeholder="straigh" (blur)="exec(selectedDesignation.straigh,product,'straigh')" 
              type="number" name="{{i}}straigh" required>
          </td>
          <td>
            <select [(ngModel)]='product.general'
              [ngClass]="{'invalid':!product.validate.general}" 
              (change)=exec(selectedDesignation.general,product) name="{{i}}general" required>
              <option [value]="status" *ngFor="let status of [true,false]"> {{status}}</option>
            </select>
          </td>
          <td>
            <input [(ngModel)]="product.cross" placeholder="cross" 
              [ngClass]="{'invalid':!product.validate.cross }" 
              (blur)="exec(selectedDesignation.cross,product,'cross')"
              type="number" name="{{i}}cross" required>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>